body {
    position: relative;
    background: url(imagens/fundo-esgoto.jpg) no-repeat;
    background-size: cover;
    height: 98vh;
}
body#cursor-jogo {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}
.barata {
    width: 150px;
    height: 130px;
    background: url(imagens/Barata1.png) no-repeat;
    background-size: cover;
    position: absolute;
}
.container {
    height: 98vh;
    text-align: center;
    margin: 0 auto;
}
.form {
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
[data-jogo="iniciar"] {
    padding: 12px 18px;
    margin-top: 20px;
    text-transform: uppercase;
    background: #F4435B;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
}
[data-jogo="iniciar"]:hover {
    background: #F53246;
}
.reiniciar {
    padding: 12px 18px;
    margin-top: 20px;
    text-transform: uppercase;
    background: #404040;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}
.reiniciar:hover {
    background: #595959;
}
.btn-margin {
    margin-right: 50px;
}


/*rotacao barata*/
.rotacaoA {
    rotate: 45deg;
}
.rotacaoB {
    rotate: -45deg;
}

/*tamanho barata*/
.tamanho1 {
    width: 50px;
    height: 50px;
}
.tamanho2 {
    width: 70px;
    height: 70px;
}
.tamanho3 {
    width: 90px;
    height: 90px;
}

.container-info {
    position: absolute;
    top: 0px;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.8;
}
h3 {
    padding: 0;
    margin: 0;
}
.tempo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tempo span{
    margin-top: 2px;
    margin-left: 8px;
    text-align: center;
    font-size: 1.2rem;
}
.creditos {
    position: absolute;
    bottom: 0px;
}
.creditos h3{
    color: #F4435B;
    font-size: 1.2rem;
}
.creditos span{
    color: #ffffff;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .img-game {
        width: 372px;
        height: 343px;
    }
    .img-vitoria {
        width: 377px;
        height: 231px;
    }
    .img-game-over {
        width: 308px;
        height: 371px;
    }
    .btn-margin {
        margin-right: 30px;
    }
    .creditos {
        position: absolute;
        bottom: 70px;
    }
}
@media (max-width: 360px) {
    .img-game {
        width: 272px;
        height: 252px;
    }
    .img-vitoria {
        width: 276px;
        height: 169px;
    }
}